<div class="row">
    <div class="col-12">
    <ul class="btn_nav">
        {%  if app.user %}
            <li> <a class="btn btn-primary btn-lg btn-block btn_nav" href="{{ path('orders_index') }}">Etat du parc</a></li>
            <li> <a class="btn btn-primary btn-lg btn-block btn_nav" href="{{ path('orders_new') }}">Nouvelle Entrée</a></li>
            <li><a class="btn btn-primary btn-lg btn-block btn_nav" href="{{ path('labels_add') }}">Stockage</a></li>
        {% endif %}
    </ul>
    </div>
</div>