
html{
    background-color: white;
    height: 100%;
}

body {
    padding-top: 75px;
    background-color: white;
    height: 100%;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
/*
.login-container form{
    padding: 10%;
}
*/
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.btn_nav {
    text-decoration: none;
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.center-form{
    display: flex;
    justify-content:space-evenly;
    align-items:baseline;
}

.custom{

    display: flex;
    justify-content:space-evenly;
    align-items:baseline;
}
.custom label{
    margin-right: 10px;
}
.custom div{
    display: flex;
    align-items:baseline;
    justify-content:space-evenly;
}

.btn_delete{
    margin-left: 30px;
}

formInline{
    display: block;
}

/*

input[type=radio]{
    display: none;
}

input[type=radio] + label:before {
    background: #fff;
    border: 5px solid #ccc;
    border-radius: 50%;
    margin-top: -3px;
    margin-right: 10px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 50px;
    height: 50px;
}

input[type=radio]:checked + label:before {
    background: #1806fb;
    border-color: #1806FB;
    box-shadow: inset 0px 0px 0px 2px #fff;
}
.element{
    margin-bottom:14px;

}
label{
    cursor:pointer;
}

*/


