{% extends 'base.html.twig' %}

{% block title %}Edit Agencies{% endblock %}

{% block body %}
    <h1>Edit Agencies</h1>

    {{ include('agencies/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('agencies_index') }}">back to list</a>

    {{ include('agencies/_delete_form.html.twig') }}
{% endblock %}
