<form method="post" action="{{ path('family_product_delete', {'id': family_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ family_product.id) }}">
    <button class="btn">Delete</button>
</form>
