<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


        {% if is_granted("ROLE_USER") %}
            <H1>Compte USER OK</H1>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}
            <H1>Compte ADMIN OK</H1>
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
