{% extends 'base.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ">
                <h1>Ajouter une nouvelle commande</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ include('orders/_form.html.twig') }}
            </div>

        </div>
    </div>





    <a href="{{ path('orders_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">


        $(document).ready(function() {


            var $container = $('div#orders_new_productListings');
            var index = $container.find(':input').length;
            $('#add_ticket').click(function(e) {
                addTicket($container);
                console.log($container.attr('data-prototype'))
                e.preventDefault();
                return false;
            });

            if (index == 0) {
                addTicket($container);
            } else {
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }
            function addTicket($container) {
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Entrée n°' + (index+1))
                    .replace(/__name__/g,        index)
                    .replace(/<div >/g, "<div class='custom'>")
                ;
                var $prototype = $(template);
                addDeleteLink($prototype);
                $container.append($prototype);
                index++;
            }
            function addDeleteLink($prototype) {
                var $deleteLink = $('<div class="text-center btn_delete"><a href="#" class="btn btn-sm btn-danger">Supprimer</a></div>');
                $prototype.append($deleteLink);
                $deleteLink.click(function(e) {
                    $prototype.remove();
                    e.preventDefault();
                    return false;
                });
            }
        });

        $('.datepicker').datepicker({
            todayBtn: "linked",
            clearBtn: true,
            language: "fr",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            format: 'yyyy-mm-dd',
            startDate: new Date()
        });
    </script>
{% endblock %}
